#article1{
    background-color: var(--background-color-1);
    z-index: 2;
}

#article1 .container{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: var(--font-color-1);
    width: 190px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-color: transparent;
}

.card h4{
    color: var(--font-color-2);
    font-weight: 800;
    line-height: 0.8;
    font-size: 20px;
}

.card p{
    color: var(--font-color-4);
    font-weight: 900;
    font-size: 18px;
    line-height: 0.8;
}

@media (max-width: 575.98px) {
    #article1 .container{
        max-width: 850px;
        padding-top: 30px;
        padding-bottom: 50px;
        margin-left:  auto;
        margin-right:  auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        background-color: var(--font-color-1);
        width: 400px;
        height: 150px;
        border-radius: 10px;
        align-items: center;
        justify-content: space-evenly;
        border-color: transparent;
    }

    .card h4{
        font-size: 32px;
    }
    
    .card p{
        font-size: 28px;
    }
}